title-bar{
width:100%;
height:100px;
background-color:lightgreen;
position:fixed;
top:0px;
left:0px;
right:0px;
}
table-body{
width:100%;
height:auto;
position:fixed;
top:100px;
left:0px;
right:0px;
background-color:orange;
}